ext/pybind11*.a
*.exe
*.lib
*.cmake
.DS_Store
ext_build
# resources.h and resources.cpp are generated with bin2c
resources.*
# ignore generated python/main.cpp
python/main.cpp
# ignore addtional icon font bindings
python/constants_*
!python/constants_entypo.cpp
!python/constants_glfw.cpp
build
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile
bin2c
example[1-9]
example_icons
icons
*~
nanogui*.so
nanogui*.pyd
libnanogui.so
libnanogui.dylib
.vscode/
# html documentation specific
*.pyc
docs/_build
docs/doxyoutput
docs/api

# entypo update generation
# this is it's own repo: https://github.com/svenevs/nanogui-entypo
# should not ever be needed again unless there are new
# icons added :)
resources/nanogui-entypo
