ext/pybind11*.a
*.exe
*.lib
*.cmake
.DS_Store
ext_build
nanogui_resources.*
build
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile
bin2c
example1
example2
example3
icons
*~
nanogui.so
nanogui.pyd
libnanogui.so
libnanogui.dylib
.vscode/
