[submodule "ext/nanovg"]
    path = ext/nanovg
    url = https://github.com/wjakob/nanovg
[submodule "ext/glfw"]
    path = ext/glfw
    url = https://github.com/wjakob/glfw
[submodule "ext/pybind"]
    path = ext/pybind11
    url = https://github.com/pybind/pybind11
[submodule "ext/cpp-httplib"]
	path = ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib