[submodule "nanovg"]
    path = ext/nanovg
    url = https://github.com/wjakob/nanovg
[submodule "glfw"]
    path = ext/glfw
    url = https://github.com/wjakob/glfw
[submodule "glew"]
    path = ext/glew
    url = https://github.com/nigels-com/glew
[submodule "eigen"]
    path = ext/eigen
    url = https://github.com/libigl/eigen.git
[submodule "ext/pybind"]
    path = ext/pybind11
    url = https://github.com/wjakob/pybind11
